@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App{
  font-family: 'Roboto', sans-serif;
}

.item-form{
  padding: 1em;
}

.main{
  margin-left:  clamp(5px, 15vw, 200px);
  margin-right: clamp(5px, 15vw, 200px);
}

.total-cal{
  font-size: x-large;
  text-align: center;
}

.edit-buttons-left{
  flex-grow: 1;
}

#edit-icon{
  width: 2em;
  height: 2em;
}

li{
  flex-grow: 1;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
  list-style-type: none;
}

ul{
  padding: 0;
}